@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Inter:wght@400;600;700&family=Josefin+Sans:wght@100;300;400;600&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@800&family=Poppins:wght@200;400;600&family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
}



:root {
    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);
    --GrayishBlue: hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
}

body {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    background-color: var(--DarkBlue);
    color: white;
}

.container {
    background-color: var(--GrayishBlue);
    min-height: 200px;
    width: 400px;
    margin: auto;
    margin-top: 80px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
}

.advice-id {
    margin: 25px;
    color: var(--NeonGreen);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .7rem;

}

.msg {
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: .5px;
    max-width: 85%;
    margin-bottom: 95px;
    /* border: 1px solid green; */
}

.advicer {
    position: absolute;
    bottom: -28px;
    padding: 20px;
    border-radius: 50%;
    background-color: var(--NeonGreen);
    display: flex;
    cursor: pointer;
}

.advicer:hover {
    box-shadow: 4px 4px 18px 0px rgba(82, 255, 168, 0.59);

}

.divider-container {
    position: absolute;
    bottom: 55px;
}

.divider {
    background-image: url(../images/pattern-divider-mobile.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 15px;
    width: 300px;
    /* border: 1px solid red; */
    position: relative;
    margin-top: 10px;
}


.divider::before,
.divider::after {
    content: "";
    background-color: var(--LightCyan);
    width: 50%;
    height: 1px;
    position: absolute;
}

.divider::before {
    top: 50%;
    left: -25px;
}


.divider::after {
    right: -25px;
    top: 50%;
}



.attribution {
    font-size: .8rem;
    text-align: center;
    letter-spacing: .5px;
}

.attribution a {
    color: var(--NeonGreen);
    text-decoration: none;
}